<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.appInfo.dao.BackendUserMapper">
    <select id="doBackendUserLogin" resultType="cn.com.appInfo.pojo.BackendUser">
        select * from backend_user where userCode=#{userCode} and userPassword=#{userPassword};
    </select>
    <select id="getUserPersonalInfo" resultType="cn.com.appInfo.pojo.BackendUser" parameterType="Long">
        select * from backend_user where id=#{id};
    </select>
</mapper>