<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.appInfo.dao.DataDictionaryMapper">
    <select id="getFlatformList" resultType="cn.com.appInfo.pojo.DataDictionary">
        select * from data_dictionary where typeCode='APP_FLATFORM';
    </select>
    <select id="getAppStatusList" resultType="cn.com.appInfo.pojo.DataDictionary">
        select * from data_dictionary where typeCode='APP_STATUS';
    </select>
</mapper>